# ignore most files produced by visual studio
*.sln
*.sdf
*.obj
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*.filters
*.log
*.tlog
*.lastbuildstate

# Ignore thumbnails created by windows
Thumbs.db
